<link type="text/css" rel="stylesheet" href="meyersReset.html"/>


html	     {
			text-align: center;
			width: 900px;

}
.header     {
		    max-width: 900px; 
		    min-width: 320px; 
		    margin: 0;
		    padding-left: 80px;
		    padding-top: 10px;
}
.logo		{
			float: left;
}
.delicious  {
			font-family: 'Yellowtail';
			font-size: 38px;
			position: relative;
			float: left;
			margin-top: 0px;

}
.subhead    {
			font-family: Abel;	
			font-size: 12px;
			float: left;
			padding-right: 590px;
			margin-top: -30px;
}
.icongroup  {
			float: right;
			padding-left: 500px;	
			padding-bottom: 20px;
}
.display    {
			padding-left: 80px;
			padding-right: 90px;
}
h1 		    {
			font-family: 'Abel'; 
			font-size: 36px;
			font-weight: bolder;
}
h3		    {
  			font-family: 'Droid serif';		
  			font-size: 12px;
  			color: #a4a4a4;
}
#print      { 
			float: right;
			position: relative;
}
.photo {
	max-width: 830px;
}
li 		    {
  			font-family: 'Patrick Hand';
  			font-size: 20px; 			
}
.instructions{
			padding-left: 80px;
			padding-right: 90px;
			font-size: 18px;
			color: #6e6e6e;
			font-weight: medium;
}
.ingredients{
			padding-left: 80px;
}
#right		{ 
			height: 30px;
			width: 350px;
			position: relative;
			bottom: 255px;
			left: 50%;
			color: #6e6e6e;
}
#left	    {
			height: 30px;
			width: 350px;
			position: relative;
			left: 60px;
			bottom: 280px;
			top: 38px;
			color: #6e6e6e;
}
.border {
			max-width: 830px;
			padding-left: 90px;

}
h2			 {
			 font-size: 24px;
			 font-weight: bold;	
}
.minilogo	 {
			 z-index
}
.footer	 {
			 font-size: 18px;
			 padding: 0 90px 0 80px;
}
.button		 {
			 float: right;
			 margin-bottom: 220px;
			 padding-right: 90px;
}	
.line           {
			 margin-left: ;
			 margin-right: ;
			 margin-bottom: 100px;
			 max-width: 830;
}
.copyright {
			 text-align: center;
}
			