html {
    max-width: 960px; 
    margin-left: 90px;
    margin-right: 90px;
}
.logo {
    margin: 20px 10px 10px 10px;
}
.delicious {
    font-family: 'Yellowtail';
    font-size: 36px;
    margin-top: 20px;
}
.subhead {
    font-family: 'Abel';
    font-size: 10px;
    margin-left: 3px;
}
.flexbox {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-top: 5px;
    width: 5px;

}
.display {
    margin: 0px;
} 
h1 {
    font-family: 'Abel';
    font-size: 36px;
    font-weight: bolder;
    margin-top: 40px;
}
.print {
    margin-right: 60px;
    float: right;
}
.dateInfo {
    margin-bottom: 20px;
}
.paragraph {
    text-indent: 30px;
    font-family: 'Droid serif';
    font-size: 16px;
    margin: 20px;
}
#left {
    font-size: 24px;
    font-family: 'Patrick Hand';
    height: 50px;
    width: 350px;
    position: relative;
    left: 60px;
    top: 45px;
    color: #6e6e6e;
}
#right {
    font-size: 24px;
    font-family: 'Patrick Hand';
    height: 60px;
    width: 350px;
    position: relative;
    bottom: 261px;
    left: 50%;
    color: #6e6e6e;
}
.border { 
    margin-bottom: 20px;
    max-width: 895px;
}
h2 {
    font-size: 20px;
    font-family: 'Droid serif';
    margin-bottom: 10px;
}
.vanessa {
    float: left;
}
.button {
    float: right;
    margin-right: 45px;
    margin-top: -30px;
}
.minilogo {
    text-align: center;
}
.line {
    margin-bottom: 80px;
    max-width: 900px; 
}
.copyright {
    text-align: center;
    margin: 60px;
}